.heading-color {
    background-color: #fcd1d1 !important;
}

.card-color {
    background-color: #d3e0dc;
}

body {
    background-color: #ece2e1;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

